/* style.css
 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	position: fixed;
	overflow: hidden;
	
	padding: 20px;
}

.grid-table-viewport {
	overflow: auto;
	position: relative;
	
	width: 100%;
	height: 100%;
	background: #998;
}

.grid-table-content {
	position: absolute;
	min-height: 100%;
	min-width: 100%; /* in case content is smaller than the viewport */
	display: flex;
	flex-direction: column;
}

.top { top: 0; }
.left { left: 0; }
.bottom { bottom: 0; }
.right { right: 0; }

.top, .mid, .bottom {
	display: flex;
}

.top, .bottom {
	z-index: 1;
}

.top, .left, .bottom, .right {
	position: sticky;
}

.mid {
	flex: auto;
}

.content-area {
	flex: auto;
	display: flex; /* use flex for horizontal and vertical centering */
	align-items: center; /* vertical centering */
	justify-content: center; /* horizontal centering */
}

.horizontal-ruler {
	height: 32px;
	flex: auto;
	border: 1px solid black;
	border-width: 1px 0;
	/*box-shadow: 0 0 4px;*/
	background:
		linear-gradient(90deg, rgba(0,0,0,.3) 1px, transparent 1px),
		linear-gradient(90deg, rgba(0,0,0,.2) 1px, transparent 1px), #eeeee0;
	background-size: 64px 16px, 16px 8px;
	background-repeat: repeat-x;
}

.bottom > .horizontal-ruler {
	background-position: left bottom;
}

.vertical-ruler {
	width: 32px;
	border: 1px solid black;
	border-width: 0 1px;
	/*box-shadow: 0 0 4px;*/
	background:
		linear-gradient(rgba(0,0,0,.3) 1px, transparent 1px),
		linear-gradient(rgba(0,0,0,.2) 1px, transparent 1px), #eeeee0;
	background-size: 16px 64px, 8px 16px;
	background-repeat: repeat-y;
}

.right.vertical-ruler {
	background-position: right top;
}

.corner {
	position: sticky;
	width: 32px;
	height: 32px;
	border: 1px solid black;
	background: #eeeee0;
	z-index: 1;
}

.content {
	width: 1600px;
	height: 1024px;
	margin: 128px;
	border: 1px solid black;
	box-shadow: 0 0 16px;
	background:
		linear-gradient(90deg, rgba(0,0,255,.3) 1px, transparent 1px),
		linear-gradient(rgba(0,0,255,.3) 1px, transparent 1px),
		linear-gradient(90deg, rgba(0,0,255,.2) 1px, transparent 1px),
		linear-gradient(rgba(0,0,255,.2) 1px, transparent 1px), #fefeff;
	background-size: 64px 64px, 64px 64px, 16px 16px, 16px 16px;
	background-position: -1px -1px; /* so we don't start on a grid line */
	cursor: crosshair;
}

.content:active {
	cursor: cell;
}

.inner-shadow {
	pointer-events: none;
	position: sticky;
	top: 32px;
	left: 32px;
	margin: 32px;
	box-shadow: 0 0 4px inset;
	height: calc(100% - 64px);
}

