/* style.css
 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	position: fixed;
	overflow: hidden;
}

.ruler-viewport {
	overflow: auto;
	position: relative;
	
	width: 100%;
	height: 100%;
	background: #998;
}

.ruler-content {
	position: absolute;
	min-height: 100%;
	min-width: 100%; /* in case content is smaller than the viewport */
	display: flex;
	flex-direction: column;
}

.top { top: 0; }
.left { left: 0; }
.bottom { bottom: 0; }
.right { right: 0; }

.top, .left, .bottom, .right {
	position: sticky;
	z-index: 1;
}

.top {
	z-index: 2;
}

.mid {
	flex: auto;
}

.content-area {
	flex: auto;
	display: flex; /* use flex for horizontal and vertical centering */
	align-items: center; /* vertical centering */
	justify-content: space-between; /* horizontal centering, keep rulers on the outside */
}

.horizontal-ruler {
	height: 32px;
	width: 100%;
	background:
		linear-gradient(90deg, rgba(0,0,0,.3) 1px, #fff 1px, #fff 2px, transparent 2px),
		linear-gradient(90deg, rgba(0,0,0,.2) 1px, #fff 1px, #fff 2px, transparent 2px), #eeeee0;
	background-size: 64px 16px, 16px 8px;
	background-repeat: repeat-x;
}

.bottom > .horizontal-ruler {
	background-position: left bottom;
}

.vertical-ruler {
	width: 32px;
	height: 100%;
	background:
		linear-gradient(rgba(0,0,0,.3) 1px, #fff 1px, #fff 2px, transparent 2px),
		linear-gradient(rgba(0,0,0,.2) 1px, #fff 1px, #fff 2px, transparent 2px), #eeeee0;
	background-size: 16px 64px, 8px 16px;
	background-repeat: repeat-y;
}

.right.vertical-ruler {
	background-position: right top;
}

.corner {
	position: sticky;
	width: 32px;
	height: 32px;
	background: #eeeee0;
	z-index: 1;
}

.content {
	width: 1599px;
	height: 1023px;
	margin: 128px;
	box-shadow: 0 0 16px;
	cursor: crosshair;
}

.content:active {
	cursor: cell;
}

.overlay {
	pointer-events: none;
	position: sticky;
}

.inner-shadow {
	box-shadow: 0 0 4px inset;
	top: 16px;
	left: 16px;
	margin: 16px;
	height: calc(100% - 32px);
	border: 16px solid #eeeee0;
	border-radius: 20px; /* works out to 4px, innerRadius = outerRadius - border-width */
}

.graph-paper {
	background:
		linear-gradient(90deg, rgba(0,0,255,.3) 1px, transparent 1px),
		linear-gradient(rgba(0,0,255,.3) 1px, transparent 1px),
		linear-gradient(90deg, rgba(0,0,255,.2) 1px, transparent 1px),
		linear-gradient(rgba(0,0,255,.2) 1px, transparent 1px), #fefeff;
	background-size: 64px 64px, 64px 64px, 16px 16px, 16px 16px;
	background-position: -1px -1px; /* so we don't start on a grid line */
}

.hide-corners:before, .hide-corners:after {
	content: '';
	display: block;
	position: sticky;
	width: 32px;
	height: 32px;
	background: #eeeee0;
	z-index: 1;
}

.hide-corners:before {
	left: 0;
	float: left;
}

.hide-corners:after {
	right: 0;
	float: right;
}

